d-header {
  contain: layout style;
}

d-header > * {
  grid-column: middle;
}

d-header .header {
  text-align: left;
  border-bottom: 1px solid black;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

d-header .header p {
  margin: 0;
  padding: 0;
}
